# Copia questo file in .env per sviluppo locale (NON committare .env su GitHub)
BOT_TOKEN=8637057503:AAGtnRRFscW0GjPNNsrU8cBxI7su87bHLhY
CHAT_ID=511720056
GOOGLE_SHEET_ID=il_tuo_sheet_id_qui
GOOGLE_CREDENTIALS_JSON={"type":"service_account",...}
